.header {
  display: flex;
  height: 40px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #6366f1;
}

.title {
  margin-bottom: 0;
  margin-left: 0.5rem;
  color: #fff;
  margin-right: auto;
}

.logo{
  display: flex;
  align-items: center;
}

.link{
  font-size: 16px;
  padding-left: 16px;
}