# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: wall CI

on:
  # push:
    # branches: [main]
  schedule:
    # 定时执行，Runs at 17:00 UTC every day
    - cron: '0 17 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: install dependencies
        run: yarn install
      - name: crawler
        run: node crawler/index.js
      - name: Commit files
        run: |
          git config --local user.email "786678257@qq.com"
          git config --local user.name "Joey"
          git add public/data.json
          git commit -m "update data.json"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.WALL_TOKEN }}
          branch: main
